<div class="row">
    <div class="col-md-12">
        <h2>Past Appointments</h2>
        <div class="table-responsive">
            <table class="table table-striped custom-table">
                <!-- Table header -->
                <thead>
                    <!-- Header columns -->
			<tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        
                                        <th>Gender</th>
                                        <th>Address</th>
                                        <th>ward</th>
                                        <th>Phone number</th>
                                        {% comment %} <th>ID Proof</th> {% endcomment %}
                                        <th>Medications Currently Taking</th>
                                        <th>Appointment Status/Urgency</th>
                                        <th>Symptoms/Reason for Visit</th>
                                        <th>Preferred Date</th>
                                       
                                        <th> Preferred Time</th>
                                        
                                        
                                    </tr>
		 </thead>
                <tbody>
                    {% for appointment in past_appointments %}
                    <tr>
                        <!-- Appointment details -->
<td>{{ appointment.first_name }}</td>
                                        <td>{{ appointment.last_name }}</td>
                                        <td>{{ appointment.email }}</td>
                                        {% comment %} <td>{{ appointment.date_of_birth }}</td> {% endcomment %}
                                        <td>{{ appointment.gender }}</td>
                                        <td>{{ appointment.address }}</td>
                                        <td>{{ appointment.ward_asha }}</td>
                                        <td>{{ appointment.phone_number }}</td>
                                        
                                        <td>{{ appointment.medication_names }}</td>
                                        
                                        <td>{{ appointment.urgency }}</td>
                                        <td>{{ appointment.symptoms }}</td>
                                        <td>{{ appointment.preferred_date }}</td>
                                        <td>{{ appointment.preferred_time }}</td>
                                        
                                            
                                            <td>
                                                
                                                    <td>
                                                        {% if appointment.is_approved %}
                                                            <button class="btn btn-danger">Approved</button>
                                                        {% else %}
                                                            <a href="{% url 'approve_appointment' appointment.id %}" class="btn btn-success">Approve</a>
                                                        {% endif %}
                                                    </td>
                                                </a>
                                            </td>   


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Current Appointments</h2>
        <div class="table-responsive">
            <table class="table table-striped custom-table">
                <!-- Table header -->
                <thead>
                    <!-- Header columns -->
<tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        
                                        <th>Gender</th>
                                        <th>Address</th>
                                        <th>ward</th>
                                        <th>Phone number</th>
                                        {% comment %} <th>ID Proof</th> {% endcomment %}
                                        <th>Medications Currently Taking</th>
                                        <th>Appointment Status/Urgency</th>
                                        <th>Symptoms/Reason for Visit</th>
                                        <th>Preferred Date</th>
                                       
                                        <th> Preferred Time</th>
                                        
                                        
                                    </tr>
                </thead>
                <tbody>
                    {% for appointment in current_appointments %}
                    <tr>
                        <!-- Appointment details -->
<td>{{ appointment.first_name }}</td>
                                        <td>{{ appointment.last_name }}</td>
                                        <td>{{ appointment.email }}</td>
                                        {% comment %} <td>{{ appointment.date_of_birth }}</td> {% endcomment %}
                                        <td>{{ appointment.gender }}</td>
                                        <td>{{ appointment.address }}</td>
                                        <td>{{ appointment.ward_asha }}</td>
                                        <td>{{ appointment.phone_number }}</td>
                                        
                                        <td>{{ appointment.medication_names }}</td>
                                        
                                        <td>{{ appointment.urgency }}</td>
                                        <td>{{ appointment.symptoms }}</td>
                                        <td>{{ appointment.preferred_date }}</td>
                                        <td>{{ appointment.preferred_time }}</td>
                                        
                                            
                                            <td>
                                                
                                                    <td>
                                                        {% if appointment.is_approved %}
                                                            <button class="btn btn-danger">Approved</button>
                                                        {% else %}
                                                            <a href="{% url 'approve_appointment' appointment.id %}" class="btn btn-success">Approve</a>
                                                        {% endif %}
                                                    </td>
                                                </a>
                                            </td>   


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Future Appointments</h2>
        <div class="table-responsive">
            <table class="table table-striped custom-table">
                <!-- Table header -->
                <thead>
                    <!-- Header columns -->
<tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        
                                        <th>Gender</th>
                                        <th>Address</th>
                                        <th>ward</th>
                                        <th>Phone number</th>
                                        {% comment %} <th>ID Proof</th> {% endcomment %}
                                        <th>Medications Currently Taking</th>
                                        <th>Appointment Status/Urgency</th>
                                        <th>Symptoms/Reason for Visit</th>
                                        <th>Preferred Date</th>
                                       
                                        <th> Preferred Time</th>
                                        
                                        
                                    </tr>
                </thead>
                <tbody>
                    {% for appointment in future_appointments %}
                    <tr>
                        <!-- Appointment details -->
<td>{{ appointment.first_name }}</td>
                                        <td>{{ appointment.last_name }}</td>
                                        <td>{{ appointment.email }}</td>
                                        {% comment %} <td>{{ appointment.date_of_birth }}</td> {% endcomment %}
                                        <td>{{ appointment.gender }}</td>
                                        <td>{{ appointment.address }}</td>
                                        <td>{{ appointment.ward_asha }}</td>
                                        <td>{{ appointment.phone_number }}</td>
                                        
                                        <td>{{ appointment.medication_names }}</td>
                                        
                                        <td>{{ appointment.urgency }}</td>
                                        <td>{{ appointment.symptoms }}</td>
                                        <td>{{ appointment.preferred_date }}</td>
                                        <td>{{ appointment.preferred_time }}</td>
                                        
                                            
                                            <td>
                                                
                                                    <td>
                                                        {% if appointment.is_approved %}
                                                            <button class="btn btn-danger">Approved</button>
                                                        {% else %}
                                                            <a href="{% url 'approve_appointment' appointment.id %}" class="btn btn-success">Approve</a>
                                                        {% endif %}
                                                    </td>
                                                </a>
                                            </td>   


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
