{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>GentleHaloes Admin Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    
</head>
<body>

<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a href="{% url 'admin_dashboard' %}" class="logo">
                <img src="{% static 'images/ghbc1.png' %}" width="100" height="55" alt=""><span>GentleHaloes</span>
            </a>
        </div>
         <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
        <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
        <ul class="nav user-menu float-right">
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>{{ user.email }}</span>
                </a>
                {% if user.is_authenticated %}
                <div class="dropdown-menu">
                    
                    <a class="dropdown-item" href="{% url 'loggout' %}">Logout</a>
                </div>
                {% else %}
    
                <div class="dropdown-menu">
                    
                    <a class="dropdown-item" href="{% url 'login_page' %}">Login</a>
                </div>
                
                {% endif %}
            </li>
       
    </div> 
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">Main</li>
                    <li class="active">
                        <a href="{% url 'admin_dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                    </li> 
                    

                   

                   

                    

                    <li class="submenu">
                        <a href="#"><i class="fa fa-medkit"></i>
                            <span>Medicines </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li>
                            <a href="{% url 'add_medicine_category' %}"><i class="fa fa-plus"></i> <span>Add Category</span></a>
                            </li>
                            <li>
                                <a href="{% url 'view_medicine_category' %}"><i class="fa fa-list"></i> <span>view Category</span></a>
                            </li>
                            <li>
                                <a href="{% url 'add_medicine' %}"><i class="fa fa-plus"></i> <span>Add Medicine</span></a>
                            </li>
                            <li>
                                <a href="{% url 'view_medicine' %}"><i class="fa fa-list"></i> <span>View Medicine</span></a>
                            </li>
                            
                            
                        </ul>
                    </li>


                    
                    <li>
                        <a href="{% url 'ad_panward' %}"><i class="fa fa-user" ></i> <span>Ward List </span> </a>
                        
                    </li>

                    
                    <li>
                        <a href="{% url 'ad_ashaworker' %}"><i class="fa fa-user" id="ashaind"></i> <span>Asha Workers List </span> </a>
                        
                    </li>
                    <li>
                        <a href="{% url 'ad_member' %}"><i class="fa fa-user" id="memind"></i> <span>Members List </span> </a>
                        
                    </li>
                    
                   
                    
                    <li>
                        <a href="{% url 'ad_nurse' %}"><i class="fa fa-user" id="ashaind"></i> <span>Nurses List </span> </a>
                        
                    </li>
                    
                    <li>
                        <a href="{% url 'ad_hca' %}"><i class="fa fa-user" id="hosind" ></i> <span>Primary Health Center </span> </a>
                        
                    </li>


                     <li>
                        <a href="{% url 'patients' %}"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                    </li>

                    <li>
                        <a href="{% url 'ad_home_visit' %}"><i class="fa fa-wheelchair"></i> <span>Home Visits</span></a>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-user"></i> <span>Appointments </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            
                            <li><a href="{% url 'appointments' %}">All Appointments</a></li>
                            <li><a href="{% url 'current_appointment' %}">Current Appointments</a></li>
                            <li><a href="{% url 'future_appointment' %}">Future Appointments</a></li>
                            <li><a href="{% url 'past_appointment' %}">Past Appointments</a></li>
                            
                            
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'schedule' %}"><i class="fa fa-calendar-check-o"></i> <span>Asha Workers Schedule</span></a>
                    </li> 
                    
                    {% comment %} <li>
                        <a href="{% url 'adgallery' %}"><i class="fa fa-calendar-check-o"></i> <span>Gallery</span></a>
                    </li>  {% endcomment %}
                    <li class="submenu">
                        <a href="#"><i class="fa fa-user"></i> <span> Gallery </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            
                            <li><a href="{% url 'adgallery' %}">Add Image</a></li>
                            <li><a href="{% url 'dis_gallery' %}">Edit Image</a></li>
                            
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-commenting-o"></i> <span> Blog</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="{% url 'blog' %}">Blog View</a></li>
                            <li><a href="{% url 'add-blog' %}">Add Blog</a></li>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'appointment_chart' %}"><i class="fa fa-calendar-check-o"></i> <span>Chart</span></a>
                    </li> 
                    <li>
                        <a href="{% url 'ashaworker_appointment_chart' %}"><i class="fa fa-calendar-check-o"></i> <span>Chart1</span></a>
                    </li> 
                </ul>
            </div>
        </div>
    </div>
    <br> <br> <br> <br> <br>
    <div class="container">
        <h2>Edit Medicine Details</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <label for="medicineName">Medicine Name:</label>
                <input type="text" id="medicineName" name="medicineName" value="{{ medicine.medicineName }}">
            </div>
            <div class="form-row">
                <label for="details">Details:</label>
                <textarea id="details" name="details">{{ medicine.details }}</textarea>
            </div>
            <div class="form-row">
                <label for="companyName">Company Name:</label>
                <input type="text" id="companyName" name="companyName" value="{{ medicine.companyName }}">
            </div>
            <div class="form-row">
                <label for="expiryDate">Expiry Date:</label>
                <input type="date" id="expiryDate" name="expiryDate" value="{{ medicine.expiryDate|date:'Y-m-d' }}">
            </div>
            <div class="form-row">
                <label for="contains">Contains:</label>
                <input type="text" id="contains" name="contains" value="{{ medicine.contains }}">
            </div>
            <div class="form-row">
                <label for="dosage">Dosage:</label>
                <input type="text" id="dosage" name="dosage" value="{{ medicine.dosage }}">
            </div>
            <div class="form-row">
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" value="{{ medicine.price }}">
            </div>
            <div class="form-row">
                <label for="category">Category:</label>
                <select id="category" name="category">
                    {% for category in medcat %}
                        <option value="{{ category.pk }}" {% if medicine.MedCatId.pk == category.pk %} selected {% endif %}>{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color:black;

    }
    .container {
        text-align: center;
        width: 1000px;
       
        padding: 50px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .form-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .form-row label {
        width: 30%;
        text-align: left;
        margin-left: 40px;
        font-weight: bold;
    }
    .form-row input[type="text"],
    .form-row input[type="date"],
    .form-row textarea,
    .form-row select {
        flex: 1;
        padding:10px; /* Adjust padding to increase length */
        border: 1px solid #ccc;
        border-radius: 15px; /* Adjust border-radius to make the corners rounder */
        box-sizing: border-box;
        font-size: 16px;
        margin-left: -75px;
    }
    button {
        margin-left: 300px;
        display: block;
        padding: 10px 100px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    button:hover {
        background-color: #0056b3;
    }
</style>

</html>
