{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>GentleHaloes Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <style>
        
          .profile-photo-container {
              display: flex;
              align-items: center;
          }
  
          .profile-photo img {
              width: 200px;
              height: 200px; /* Set the width and height to make it square */
              border-radius: 0; /* Remove border-radius to make it square */
              border: 3px solid #fff;
          }
  
          .profile-details {
              display: flex;
              flex-direction: column;
              margin-left:50px;
          }
  
 
 
  
  
      </style>


    <div class="main-wrapper">
        
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">My Profile</h4>
                    </div>
                  {% comment %} <div class="col-sm-20 col-11 text-right m-b-30">
                        <a href="{% url 'patient_profile' %}" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Edit Profile</a>
                    </div>
                </div> {% endcomment %}
                <form method="post" id="profileform" enctype="multipart/form-data">
                {% csrf_token %}  
                <div class="card-box">
                        <h3 class="card-title">Basic Informations</h3>
                         
                        <div class="row">
                            <div class="col-md-12">
                                
                                <div class="profile-photo">
                                    {% if profile.profile_pic %}
                                        <img src="{{ profile.profile_pic.url }}" >
                                    {% else %}
                                        <img src="/path/to/default/profile_pic.jpg" >
                                    {% endif %}
                                    <div class="fileupload btn">
                                        <input class="upload" name="profile_pic" type="file">
                                        <span class="btn-text">Edit</span>
                                    </div>
                                    <br> <!-- Add this line -->
                                     
                                </div>  
                                   
                        <div class="profile-basic">
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            
                                            <label>First Name  </label>
                                            {% comment %} <div class="form-group form-focus"> 
                                                
                                                <input type="text" id="first_name" class="form-control floating" value="{{ profile.first_name }}" name="first_name">
                                            </div> {% endcomment %}
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating" id="first_name_input" value="{{ profile.first_name }}" name="first_name">
                                                <span id="first_name_error" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Last Name</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating" id="last_name_input" placeholder="last" value="{{ profile.last_name }}" name="last_name">
                                                <span id="last_name_error" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        
                                        

                                        <div class="col-md-6">
                                            <label>Email</label>
                                            <div class="form-group form-focus"> 
                                                
                                                {% comment %} <input type="text" class="form-control floating" value="{{ user.email }} " name="email"> {% endcomment %}
                                                <input type="text" class="form-control floating" value="{{ profile.email }}" name="email" readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="focus-label">Gender</label>
                                            <div class="form-group form-focus select-focus">
                                                <select class="select form-control floating" name="gender">
                                                    <option value="" disabled selected>-Select Gender-</option>
                                                    <option value="Male" {% if profile.gender == 'Male' %} selected {% endif %}>Male</option>
                                                    <option value="Female" {% if profile.gender == 'Female' %} selected {% endif %}>Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    
                                        <div class="col-md-6">
                                            <label>House Name</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating" id="house_name_input" value="{{ profile.house_name }}" name="house_name">
                                                <span id="house_name_error" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Contact Informations</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <label>House Number</label>
                                <div class="form-group form-focus"> 
                                    <input type="number" class="form-control floating" value="{{ profile.house_no }}" name="house_no">
                                    {% comment %} <input type="number" class="form-control floating" value=" " name="house_no"> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Address</label>
                                <div class="form-group form-focus">
                                    <input type="text" class="form-control floating" id="address_input" value="{{ profile.address }}" name="address">
                                    <span id="address_error" class="text-danger"></span>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-6">
                                <label>Panchayat</label>
                                <div class="form-group form-focus"> 
                                     
                                    <input type="text" class="form-control floating" value=" Parathodu" name="state" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Ward</label>
                                <div class="form-group form-focus"> 
                                    <input type="number" class="form-control floating" value="{{ profile.ward }}" name="ward">
                                    {% comment %} <input type="text" class="form-control floating" value="" name="ward"> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Pin Code</label>
                                <div class="form-group form-focus">
                                    <input type="number" class="form-control floating" id="pin_code_input" value="{{ profile.pin_code }}" name="pin_code">
                                    <span id="pin_code_error" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <label>Phone Number</label>
                                <div class="form-group form-focus">
                                    <input type="number" class="form-control floating" id="phone_number_input" value="{{ profile.phone_number }}" name="phone_number">
                                    <span id="phone_number_error" class="text-danger"></span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Medical History</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Current Diagnosis or Health Concern</label>
                                <div class="form-group form-focus">
                                    <input type="text" class="form-control floating" id="current_diagnosis_input" value="{{ profile.current_diagnosis }}" name="current_diagnosis">
                                    <span id="current_diagnosis_error" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <label>Past Medical Conditions</label>
                                <div class="form-group form-focus">
                                    <textarea class="form-control floating" id="past_med_condition_input" name="past_med_condition">{{ profile.past_med_condition }}</textarea>
                                    <span id="past_med_condition_error" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <label>Surgical History</label>
                                <div class="form-group form-focus">
                                    <textarea class="form-control floating" id="surgical_history_input" name="surgical_history">{{ profile.surgical_history }}</textarea>
                                    <span id="surgical_history_error" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <label>Allergies (Medications, Food, Environmental)</label>
                                <div class="form-group form-focus">
                                    <textarea class="form-control floating" id="allergies_input" name="allergies">{{ profile.allergies }}</textarea>
                                    <span id="allergies_error" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Height (in cm)</label>
                                <div class="form-group form-focus"> 
                                    <input type="text" class="form-control floating" id="height_input" value="{{ profile.height }}" name="height">
                                    <span id="height_error" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <label>Weight (in kg)</label>
                                <div class="form-group form-focus"> 
                                    <input type="text" class="form-control floating" id="weight_input" value="{{ profile.weight }}" name="weight">
                                    <span id="weight_error" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <label>Body Mass Index (BMI)</label>
                                <div class="form-group form-focus"> 
                                    <input type="text" class="form-control floating" id="bmi_input" value="{{ profile.bmi }}" name="bmi">
                                    <span id="bmi_error" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Current Medications</label>
                                <div class="form-group form-focus">
                                    <input type="text" class="form-control floating" value="{{ profile.medication_names }}" name="medication_names">
                                    {% comment %} <input type="text" class="form-control floating" value="" name="bmi"> {% endcomment %}
                                </div>
                            </div>
                            
                            </div>
                         </div>

                         {% comment %} <div class="card-box">
                            <h3 class="card-title">Laboratory and Diagnostic Test Results:
                            </h3> {% endcomment %}
                </div> 
               
                        <div class="text-center m-t-20">
                        <button class="btn btn-primary submit-btn" type="submit">Save</button>
                    </div>
                   
        </form>
            </div>
            
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js'%}"></script>
	<script src="{% static 'assets/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
    
    <script>
        // Function to perform validation on the "First Name" input
        const firstnameInput = document.getElementById('first_name_input');
        const firstNameError = document.getElementById('first_name_error');

        const lastNameInput = document.getElementById('last_name_input');
        const lastNameError = document.getElementById('last_name_error');

        const houseNameInput = document.getElementById('house_name_input');
        const houseNameError = document.getElementById('house_name_error');
    
        const addressInput = document.getElementById('address_input');
        const addressError = document.getElementById('address_error');

        
        const pinCodeInput = document.getElementById('pin_code_input');
        const pinCodeError = document.getElementById('pin_code_error');

        const phoneInput = document.getElementById('phone_number_input');
        const phoneError = document.getElementById('phone_number_error');

        

        function validateFirstName() {
            var firstname = firstnameInput.value;
            var validCharacters = /^[A-Za-z]+$/; // Regular expression for characters only
    
            if (!validCharacters.test(firstname)) {
                firstNameError.textContent = "Only characters are allowed.";
                firstnameInput.classList.add('is-invalid');
                return false; // Validation failed
            } else {
                firstNameError.textContent = ""; // Clear the error message
                firstnameInput.classList.remove('is-invalid');
                return true; // Validation passed
            }
        }
    

        function validateLastName() {
            var lastName = lastNameInput.value;
            var validCharacters = /^[A-Za-z]+$/; // Regular expression for characters only
        
            if (!validCharacters.test(lastName)) {
                lastNameError.textContent = "Only characters are allowed.";
                lastNameInput.classList.add('is-invalid');
                return false; // Validation failed
            } else {
                lastNameError.textContent = ""; // Clear the error message
                lastNameInput.classList.remove('is-invalid');
                return true; // Validation passed
            }
        }

        function validateHouseName() {
            var houseName = houseNameInput.value;
            var validCharacters = /^[A-Za-z]+$/; // Regular expression for characters only
    
            if (!validCharacters.test(houseName)) {
                houseNameError.textContent = "Only characters are allowed.";
                houseNameInput.classList.add('is-invalid');
                return false; // Validation failed
            } else {
                houseNameError.textContent = ""; // Clear the error message
                houseNameInput.classList.remove('is-invalid');
                return true; // Validation passed
            }
        }
        function validateAddress() {
            var address = addressInput.value;
            var validCharacters = /^[A-Za-z,.\s-]+$/;

            if(!validCharacters.test(address)) {
                addressError.textContent = "Only characters are allowed.";
                addressInput.classList.add('is-invalid');
                return false; // Validation failed
            } else {
                addressError.textContent = ""; // Clear the error message
                addressInput.classList.remove('is-invalid');
                return true; // Validation passed
            }
        }
        function validatePinCode() {
            var pinCode = pinCodeInput.value;
            var validPinCode = /^\d{6}$/; // Regular expression for 6-digit numbers
    
            if (!validPinCode.test(pinCode)) {
                pinCodeError.textContent = "Enter a 6-digit pin code.";
                pinCodeInput.classList.add('is-invalid');
                return false; // Validation failed
            } else {
                pinCodeError.textContent = ""; // Clear the error message
                pinCodeInput.classList.remove('is-invalid');
                return true; // Validation passed
            }
        }

        function validatePhoneNumber() {
            var phoneNumber = phoneInput.value;
            var validPhoneNumber = /^\d{10}$/; // Regular expression for numbers only
    
            if (!validPhoneNumber.test(phoneNumber)) {
                phoneError.textContent = "Only 10 numbers are allowed.";
                phoneInput.classList.add('is-invalid');
                return false; // Validation failed
            } else {
                phoneError.textContent = ""; // Clear the error message
                phoneInput.classList.remove('is-invalid');
                return true; // Validation passed
            }
        }
       
        function validateAlphabeticInput(inputId, errorId) {
            const input = document.getElementById(inputId);
            const error = document.getElementById(errorId);
            const inputValue = input.value;
            const validCharacters = /^[A-Za-z\s]+$/; // Regular expression for alphabetic characters and spaces
    
            if (!validCharacters.test(inputValue)) {
                error.textContent = "Only alphabetic characters and spaces are allowed.";
                input.classList.add('is-invalid');
                return false; // Validation failed
            } else {
                error.textContent = ""; // Clear the error message
                input.classList.remove('is-invalid');
                return true; // Validation passed
            }
        }
        
        
        const currentDiagnosisInput = document.getElementById('current_diagnosis_input');
        const pastMedConditionInput = document.getElementById('past_med_condition_input');
        const surgicalHistoryInput = document.getElementById('surgical_history_input');
        const allergiesInput = document.getElementById('allergies_input');

        currentDiagnosisInput.addEventListener('keyup', () => validateAlphabeticInput('current_diagnosis_input', 'current_diagnosis_error'));
        pastMedConditionInput.addEventListener('keyup', () => validateAlphabeticInput('past_med_condition_input', 'past_med_condition_error'));
        surgicalHistoryInput.addEventListener('keyup', () => validateAlphabeticInput('surgical_history_input', 'surgical_history_error'));
        allergiesInput.addEventListener('keyup', () => validateAlphabeticInput('allergies_input', 'allergies_error'));
        
       
        // Attach keyup event listener to the "First Name" input field
        firstnameInput.addEventListener('keyup', validateFirstName);
        lastNameInput.addEventListener('keyup', validateLastName);
        houseNameInput.addEventListener('keyup', validateHouseName);
        addressInput.addEventListener('keyup', validateAddress);
        pinCodeInput.addEventListener('keyup', validatePinCode);
         phoneInput.addEventListener('keyup', validatePhoneNumber);

         
         
        const profileForm = document.getElementById('profileform');
        
        profileForm.addEventListener('submit', function (event) {
            const isFirstNameValid = validateFirstName();
            const isLastNameValid = validateLastName();
            const isHouseNameValid = validateHouseName();
            const isAddressValid = validateAddress();
            const isPinCodeValid = validatePinCode();
            const isPhoneNumberValid = validatePhoneNumber();
            
        const isCurrentDiagnosisValid = validateAlphabeticInput('current_diagnosis_input', 'current_diagnosis_error');
        const isPastMedConditionValid = validateAlphabeticInput('past_med_condition_input', 'past_med_condition_error');
        const isSurgicalHistoryValid = validateAlphabeticInput('surgical_history_input', 'surgical_history_error');
        const isAllergiesValid = validateAlphabeticInput('allergies_input', 'allergies_error');

            
            if (!isFirstNameValid || !isLastNameValid || !isHouseNameValid || !isAddressValid ||!isPinCodeValid ||!isPhoneNumberValid ||!isCurrentDiagnosisValid 
            || !isPastMedConditionValid || !isSurgicalHistoryValid || !isAllergiesValid ) {
                event.preventDefault(); // Prevent form submission if validation failed
            }
        });
    </script>
    
    
</body>


<!-- profile23:03-->
</html>